@import "bootstrap.min.css";
@import "slick.css";
@import "slick-theme.css";
@import "font-awesome.min.css";
@import "amaran.css";
@import "magnific-popup.css";

*:hover {
  outline: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: #f7f7f7;
  font-size: 16px;
  line-height: 1.8em;
  padding-top: 56px;
  font-weight: 400;
}

a{
  color: #46178F;
  text-decoration: none;
  transition: all .5s ease-out;
}
a:hover{
  color: #864CBF;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  font-size: 24px;
  padding: 0;
  margin: 0 0 15px;
  line-height: 1.2;
}
h1{font-size: 24px}
h2{font-size: 20px}
h3{font-size: 18px}
h4{font-size: 17px}
h5{font-size: 16px}
h6{font-size: 16px}

hr{
  margin: 15px 0;
}

b, strong{
  color: #864CBF;
}

ul, ol{
  padding-left: 15px;
}

.tap{
  padding: 12px 40px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: #864CBF;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.2;
  transition: all .2s;
  user-select: none;
  -moz-user-select: none;
  text-align: center;
}

.tap:hover,
.tap:focus{
  opacity: 1;
  background: #46178F;
  color: #fff;
  box-shadow: rgba(0,0,0, .05) 0 10px 20px;
}

.spacing{
  display: block;
  height: 30px;
}

.container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  position: relative;
}

.section{
  position: relative;
  padding: 40px 0;
}

#header{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #46178F;
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: rgba(0,0,0, .2) 0 0 40px;
}
#header .container{
  width: 100%;
  display: flex;
  align-items: center;
}
#header .container > div{
  width: 33.33%;
  padding: 10px 0;
}
#header .logo_box img{
  max-height: 56px;
}

.user_info{
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}
.user_score{
  color: #FFC107;
  font-size: 16px;
}

a.menu_switcher{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #864CBF;
  color: #eee;
  border-radius: 5px;
  float: right;
}
a.menu_switcher:hover,
a.menu_switcher.active{
  background: #9957DB;
  color: #fff;
}

#sidenav{
  position: fixed;
  z-index: 1001;
  display: block;
  top: 56px;
  right: -400px;
  width: 300px;
  height: calc(100% - 56px);
  background: #46178F;
  color: #fff;
  overflow-y: auto;
  box-shadow: rgba(0,0,0, .3) 0 20px 20px;
  transition: all .2s ease-out;
}
#sidenav.active{
  right: 0;
}
#sidenav a{
  color: #fff
}

#sidenav > div{
  position: relative;
  padding: 20px;
}
#sidenav ul{
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
#sidenav ul > li{
  display: block;
  padding: 0;
  margin: 0 0 5px 0;
}
#sidenav ul > li > a{
  display: block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 20px;
  font-weight: 600;
  background: rgba(0,0,0, .1);
}
#sidenav ul > li > a:hover{
  background: #9957DB;
}
#sidenav ul > li > a > i{
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}

#footer{
  position: relative;
  padding: 15px 0;
  background: #46178F;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
#footer a{
  color: #fff;
}

.card_box{
  display: flex;
  flex-wrap: wrap;
  background: #46178F;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 16px;
  transition: all .3s;
}
.card_box.locked{
  filter: grayscale(100%);
  opacity: .5;
}
.card_box.orange{background: #FF5721}
.card_box.green{background: #4DAF50}
.card_box.red{background: #F44336}
.card_box.blue{background: #3E51B5}
.card_box.yellow{background: #FFC107}

.card_box:hover{
  color: #fff;
  box-shadow: rgba(0,0,0, .3) 0 0 40px;
}
.card_box:not(.locked):hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.card_box .full_width{
  width: 100%;
}
.card_box .half_width{
  width: 50%;
}
.card_box > div{
  padding: 8px 0;
}
.card_box .card_name h3{
  font-size: 20px;
  margin: 0;
}
.card_box .card_points{
  font-weight: 600;
}
.card_box .card_points span{
  font-weight: 400;
  display: block;
}
.card_box .card_questions{
  font-weight: 600;
}
.card_box .card_questions span{
  font-weight: 400;
  display: block;
}
.card_box .card_progress{
  position: relative;
  margin-top: 10px;
}
.progress_bar{
  display: block;
  position: relative;
  z-index: 9;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  background: rgba(255,255,255, .1);
}
.progress_bar span.progress{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  background: rgba(255,255,255, .85);
}
.progress_bar span.value{
  position: relative;
  z-index: 11;
  display: inline-block;
  color: #fff;
  text-shadow: rgba(0,0,0, .7) 0 0 3px;
}

.welcome{
  text-align: center;
}
.welcome img{
  max-width: 80px;
  margin-bottom: 15px;
}

.play_wrapper{
  position: relative;
  padding: 0;
  margin: 40px auto 0 auto;
  max-width: 540px;
  border: 2px solid #eee;
  border-radius: 15px;
}
.play_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play_header > div {
  position: relative;
}
.play_header > div:nth-child(2){
  padding: 20px 15px;
}
.play_buttons{
  display: inline-block;
  position: relative;
  padding: 15px 0;
}
.play_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 20px;
  background: #ACACAC;
  color: #fff;
  width: 85px;
  text-align: center;
}
.play_btn:hover,
.play_btn.active{
  color: #fff;
  background: #864CBF;
}
.play_buttons .play_btn:not(:last-child){
  margin-bottom: 10px;
}
.play_buttons.left .play_btn{
  border-radius: 0 20px 20px 0;
}
.play_buttons.right .play_btn{
  border-radius: 20px 0 0 20px;
}

.question_wrapper{
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  color: #864CBF;
  padding: 15px;
  background: #eee;
}

.play_body{
  position: relative;
  padding: 20px;
  margin: 0;
}
.play_body ul{
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
.play_body ul > li{
  display: block;
  position: relative;
  padding: 8px 30px 8px 50px;
  margin: 0;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 600;
  border: 2px solid rgba(134,76,191, .5);
  border-radius: 60px;
  transition: all .2s;
}
.play_body ul > li:before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #ccc;
  transition: all .2s;
}
.play_body ul > li:hover,
.play_body ul > li:hover:before{
  border-color: #864CBF;
}
.play_body ul > li:not(:last-child){
  margin-bottom: 8px;
}

.option.error{
  transform: scale(.95);
}
.option.error,
.option.error:before{
  border-color: #F44336!important;
}

.option.success{
  transform: scale(1.05);
}
.option.success,
.option.success:before{
  border-color: #4DAF50!important;
}

.option.disabled{
  filter: grayscale(100%);
  opacity: .3;
  cursor: none;
  pointer-events: none;
}

.hint{
  padding: 20px;
  margin: 0 0 30px;
  border-radius: 15px;
  box-shadow: rgba(0,0,0, .1) 0 0 30px;
}
.info{
  padding: 20px;
  margin: 0 0 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  box-shadow: rgba(0,0,0, .1) 0 0 30px;
}
.info h3{
  font-size: 20px;
}

.info.error h3,
.info.error h3 strong{
  color: #F44336!important;
}

.info.success h3,
.info.success h3 strong{
  color: #4DAF50!important;
}
.info.success .tap{
  background: #4DAF50;
}

.info .dog{
  max-width: 80px;
  display: block;
  margin: 0 auto;
}

.play_area{
  min-height: 100vh;
}

.modal_form{
  position: relative;
  margin: 50px auto;
  background: #fff;
  padding: 40px;
  max-width: 400px;
  border-radius: 15px;
}

form{
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
form label{
  display: block;
  padding: 0;
  margin: 0;
}
form label > span{
  display: block;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 600;
  color: #333;
  margin: 0 0 5px 15px;
}
form input,
form select,
form textarea{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 0 20px;
  margin: 0 0 10px 0;
  height: 40px;
  font-weight: 600;
  border-radius: 30px;
  font-style: italic;
}
form :-ms-input-placeholder {
  color: #999!important;
  font-weight: 400!important;
}
form ::-webkit-input-placeholder{
  color: #999;
  font-weight: 400
}
form ::-moz-placeholder {
  color: #999;
  font-weight: 400;
  opacity: 1;
}

.form_heading,
.form_submit{
  text-align: center;
}
.form_heading .dog{
  max-width: 80px;
}
.mfp-close-btn-in .mfp-close{
  font-size: 40px;
}
.form_submit{
  margin-top: 20px;
}
.form_submit .tap{
  width: 100%;
}
.mfp-bg{
  background: #111;
  opacity: .85;
}
.mfp-content{
  padding: 0 20px;
}

.password_generator,
.password_display{
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
  color: #4DAF50;
  cursor: pointer;
}

.form_reset{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #999;
  line-height: 1.4;
}

.slick-slider:focus,
.slick-slider *:focus{
  outline: none!important;
}








.hide{display: none!important;}
.zdx{}

/* Media */
@media (max-width: 1200px){}
@media (max-width: 991px){}
@media (max-width: 768px){}
@media (max-width: 480px){
  .play_wrapper{
   border: 0;
  }
  .play_btn{
    padding: 10px 0;
    width: 60px;
    font-size: 14px;
  }

  .info{
    font-size: 15px;
  }

  #header .logo_box img{
    max-height: 44px;
  }
  #header .container{
    padding: 0 15px;
  }

  .form_heading .dog{
    max-width: 60px;
  }
  .modal_form{
    margin: 40px 0;
    padding: 30px;
  }

  .form_reset a{
    display: block;
  }

  .play_wrapper{
    margin-top: 0;
  }
  .play_body ul > li{
    font-size: 14px;
    padding: 6px 30px 6px 50px;
  }

  .section {
    padding: 20px 0;
  }

  .hint{
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (max-width: 320px){}